@import 'tailwindcss';

@theme {
    --color-apur-green: #004731;
    --color-apur-yellow: #f2c94c;
    --color-apur-lightGreen: #e8f5f1;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
